
@{
    Layout = "_Layout";
}

<main id="main" class="main">
    <div class="card">
        <div class="card-body">
                <h5 class=" card-title">Add New Project</h5>
            <!-- Multi Columns Form -->
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="inputName51" class="form-label">Project Name</label>
                    <input type="text" class="form-control" id="inputName51">
                </div>
                <div class="col-md-6">
                    <label for="inputName5" class="form-label">Start Date</label>
                    <input type="email" class="form-control" id="inputName5">
                </div>
                <div class="col-md-12">
                    <label for="inputEmail5" class="form-label">End Date</label>
                    <input type="password" class="form-control" id="inputEmail5">
                </div>
                <div class="col-12">
                    <label for="Phone" class="form-label">Budget</label>
                    <input type="text" class="form-control" id="Phone" >
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form><!-- End Multi Columns Form -->

        </div>
    </div>

</main>
