
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<main id="main" class="main">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add New Employee</h5>

            <!-- Multi Columns Form -->
            <form class="row g-3">
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Employee ID</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Project ID</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form><!-- End Multi Columns Form -->

        </div>
    </div>

</main>
