<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Class_Code</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Class_Code.styles.css" asp-append-version="true"/>
</head>
<body>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>