@model NiceAdmin2.Models.UserModel;

@{
Layout = "_Layout";
}
<div id="main">
    <div class="card">
        <div class="card-body p-3">
            <h5>Add New Product</h5>
            <form method="post" asp-action="Save" asp-controller="User">
                <div class="container">
                    <div class="row m-2 my-4">
                        <div class="col">
                            <label class="form-label" asp-for="UserID">Enter User ID:<span class="text-danger">*</span></label><br/>
                            <input class="form-control" type="text" placeholder="User ID" asp-for="UserID"/>
                            <span asp-validation-for="UserID" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label class="form-label" asp-for="UserName">Enter User Name:<span class="text-danger">*</span></label><br/>
                            <input class="form-control" type="text" placeholder="User Name" asp-for="UserName"/>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row m-2 my-4">
                        <div class="col">
                            <label class="form-label" asp-for="Email">Enter Email:<span class="text-danger">*</span></label><br/>
                            <input class="form-control" type="text" placeholder="Email" asp-for="Email"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label class="form-label" asp-for="Password">Enter Password:<span class="text-danger">*</span></label><br/>
                            <input class="form-control" type="password" placeholder="Password" asp-for="Password"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row m-2 my-4">
                        <div class="col">
                            <label class="form-label" asp-for="MobileNo">Enter Mobile No:<span class="text-danger">*</span></label><br/>
                            <input class="form-control" type="text" placeholder="Mobile No" asp-for="MobileNo"/>
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label class="form-label" asp-for="Address">Enter Address:<span class="text-danger">*</span></label><br/>
                            <input class="form-control" type="text" placeholder="Product Description" asp-for="Address"/>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-2 m-3">
                            <input type="submit" class="btn btn-primary" placeholder="Submit"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
